


<aside class="sidebar">
    <div class="sidebar-logo-container">
        <img src="~/img/logovetcare.png" class="sidebar-logo-big" alt="Logo VetCare">
    </div>

    <nav class="sidebar-nav">
        @{
            var action = ViewContext.RouteData.Values["Action"]?.ToString();
        }

        <a asp-controller="Cliente" asp-action="Inicio" class="nav-item @(action == "Inicio" ? "active" : "")">
            <div class="active-indicator"></div>
            <i class="bi bi-house-door-fill fs-4"></i>
            <span class="nav-text ms-3">Inicio</span>
        </a>

        <a asp-controller="Cliente" asp-action="Solicitar" class="nav-item @(action == "Solicitar" ? "active" : "")">
            <div class="active-indicator"></div>
            <i class="bi bi-calendar-plus fs-4"></i>
            <span class="nav-text ms-3">Solicitar</span>
        </a>

        <a asp-controller="Cliente" asp-action="Citas" class="nav-item @(action == "Citas" || action == "MisMascotas" ? "active" : "")">
            <div class="active-indicator"></div>
            <i class="bi bi-calendar-check fs-4"></i>
            <span class="nav-text ms-3">Citas</span>
        </a>

        <a asp-controller="Cliente" asp-action="Historial" class="nav-item @(action == "Historial" ? "active" : "")">
            <div class="active-indicator"></div>
            <i class="bi bi-journal-text fs-4"></i>
            <span class="nav-text ms-3">Historial</span>
        </a>



    </nav>

    <div class="sidebar-footer pb-4">
        <a asp-controller="Cliente" asp-action="Configuracion" class="nav-item @(action == "Configuracion" ? "active" : "")">
            <div class="active-indicator"></div>
            <i class="bi bi-gear-fill fs-4"></i>
            <span class="nav-text ms-3">Configuración</span>
        </a>
        <a asp-controller="Account" asp-action="Index" class="nav-item">
            <i class="bi bi-box-arrow-right fs-4 text-danger"></i>
            <span class="nav-text ms-3 text-danger fw-bold">Cerrar sesión</span>
        </a>
    </div>
</aside>